<!DOCTYPE html>
<html xmlns:th = "https://www.thymeleaf.org">

<head>
</head>


<body>




<div class="AgreementRegulations" >
    <h3>Credit Facility Agreement</h3>
    <p>This Credit Facility Agreement (Agreement) is made and executed on the date and place as mentioned under the Schedule I
        and II (hereinafter collectively referred as Schedule to this Agreement) by,</p>
    <p>
        The person(s) named in the Schedule I hereto being borrowers, hereinafter referred as the "Borrower"), which expression
        shall, unless it be repugnant to the context or meaning thereof, be deemed to mean and include his/her heirs, administrators and
        executors.
    </p>


    <h5>
        In favour of :
    </h5>

    <p>
        GROWTH SOURCE FINANCIAL TECHNOLOGIES PRIVATE LIMITED, a company registered under the Companies Act, 2013,
        and having its registered office at Nirlon Knowledge Park (NKP), B6, 2nd Floor, Pahadi Village, Off Western Express Highway,
        Cama Industrial Estate, Goregaon (East), Mumbai 400 063, Maharashtra (hereinafter referred to as the “Lender /Protium,
        known as brand name of the Lender“, which expression shall, unless repugnant to the context or meaning thereof, be deemed
        to mean and include its successors and assigns);
    </p>
    <p>
        The Lender and the Borrower are hereinafter individually referred to as the Party and collectively as the Parties
    </p>

    <h5>WhereAs :</h5>
    <ol type="i">
        <li>
            <p>
                The Lender is inter alia engaged in the business of lending, licensed by Reserve Bank of India as a non-deposit taking
                Non-Banking Financial Company
            </p>
        </li>
        <li>
            <p>
                By using the Credit Facility from the Lender, the Borrower agree to be bound by the terms of this Agreement for
                availing of the Credit Facility and to any modifications, amendments or updates made to the said terms.
            </p>
        </li>
        <li>
            <p>
                Once the Credit Facility is sanctioned to the Borrower, Lender may in its sole and absolute discretion, provide Credit
                Facility to the Borrower on a recurring basis subject to its credit policy. Every Borrower shall ensure that no third party
                uses its account or use his credentials to avail the Credit facility from the Lender, and that such Borrower uses the
                Credit Facility only for its own business purposes or for any other lawful purpose as agreed by him with the Lender.
            </p>
        </li>

        <li>
            <p>
                Basis the representations, warranties, undertakings and covenants of the Borrower, the Lender has agreed to grant,
                and the Borrower has agreed to avail the Credit Facility, on terms and conditions as mentioned below.
            </p>
        </li>

    </ol>


    <p>
        <b>NOW THEREFORE,</b> in consideration of the mutual and dependent promises hereinafter set forth, the Parties, intending to be
        legally bound, hereby agree as follows:
    </p>

    <h5 style="page-break-before:always">Definitions and Interpretations:</h5>
    <p>Unless otherwise defined elsewhere, the capitalised terms used in this Agreement shall have the meaning assigned to such
        terms herein, the Sanction Letter, and the General Terms and Conditions:</p>

    <ol type="i">

        <li>“Approved Credit / Overall Limit” shall mean the Total /Aggregate Credit Facility limit upto which the Borrower(s) will
            be sanctioned the Loan Amount(s) which shall be determined by Lender, in its sole and absolute discretion, based on
            the eligibility criteria and internal policies of Lender</li>
        <li>“Applicable Rate of Interest” shall mean the interest rate mentioned in Schedule I for respective Credit Facility
            availed by the Borrower from the Lender.</li>
        <li>“Credit Period” means the Interest free period given to the Borrower by Lender for repayment of loan, with respect to
            the Loan Amount disbursed.</li>
        <li>“Payable Data” mean the payable date and corresponding payable value, communicated by Flipkart Platform to the
            Lender</li>
        <li>“Drawdown” means each drawdown made out of the Approved Credit Limit by the Borrower, during the validity
            period, as per the terms of Sanction Letter and in accordance with the terms and conditions contained in this
            Agreement.</li>
        <li>“Drawdown Date” means the date on which a Credit Facility is disbursed / made available to the Borrower, on
            satisfaction of all the representations, warranties and covenants of the Borrower by the Lender.</li>
        <li>“General Terms and Conditions (GT&Cs)” shall mean the general terms and conditions as available on the
            https://protium.co.in and which shall form an integral part of this Agreement.</li>
        <li>“Escrow Agent” means the bank with whom the Escrow Account will be opened and maintained, as per the
            provisions of this Agreement and Escrow Agreement.</li>
        <li>“Escrow Account" shall mean the account to be opened with the bank at the instance of the Lender, as per the
            instructions given by the Lender from time to time for receiving the Receivables</li>
        <li>“Escrow Agreement” shall mean the Agreement executed by the Lender with the Bank with respect to the operation
            and maintenance of the Escrow Account.</li>
        <li>“e-NACH” shall mean the Electronic National Automated Clearing House as implemented by the National Payments
            Corporation of India;</li>
        <li>“Guarantor(s)” means a person who is guaranteeing the debt of the borrower or any person who is providing
            guarantee against obligations of the Borrower</li>
        <li>“Instalment” means an amount payable by the Borrower to the Lender towards the repayment of Credit Facility
            availed by the Borrower from the Lender alongwith the interest as applicable on the Payment Due Date/ Repayment
            Date, as specified under Schedule I to this Agreement or Sanction Letter.</li>
        <li>“Material Adverse Effect shall mean a material adverse effect (i) on the assets, business, properties, liabilities,
            financial condition, results, operations or prospects of the Borrower; or (ii) on the ability of the Borrower to perform its
            obligations under this Agreement; or (iii) which materially impairs/diminishes the value of the Security.</li>
        <li>“Outstanding Obligations” mean and include the outstanding principal amount of the Facility, Interest, Default
            Interest, all other interest, all fees, costs, commitments, charges, expenses, stamp duty and all other sums whatsoever
            payable by the Borrower to the Lender in accordance with the Credit Facility agreement or any Financing Documents.</li>
        <li>“Platform” shall mean the Flipkart or Lender’s Platform where the Borrower has registered himself by accepting its
            terms and conditions to use and access Platform for availing services.</li>
        <li>“Platform Agreement” shall mean legal agreement and terms and conditions the seller / merchant has signed with
            Flipkart Lender.</li>
        <li>“Payment Due Date or Instalment Date” means, the amount payable under the respective Credit Facility Agreement
            and/or any other Financing Documents - the date on which such amount falls due in terms of the respective Credit
            Facility and/or any other Financing Documents or such other dates on which any amounts including principal, interest
            or other monies, fall due in terms of the Credit Facility Agreement and/or any other Financing Documents. The
            Payment Due Date for each Credit Facility/Loan shall vary depending on credit period / term granted for respective
            Credit Facility, to each of the Borrower or such other date as may be communicated by Lender to Borrower from time
            to time.</li>
        <li>“Receivables” shall mean the sale proceeds received by Flipkart Platform against the Borrower’s order, which will be
            transferred into the Escrow Account, basis Authorisation given by the Borrower in favour of Lender, under Schedule III
            hereto, and utilized towards repayment obligations of the Borrower</li>
        <li>“Service Fee/ Processing Fees” means the fees payable by the Borrower to the Lender towards availing of Credit
            Facility</li>
        <li>“Schedule” shall mean Schedules attached to this Agreement giving particulars of respective Credit Facility</li>
        <li>“Tenure/ Tenor” means such period as agreed between the Lender and Borrower for the repayment of Principal and
            interest (as the case may be) for the Credit Facility availed under this Agreement, as specified under the Sanction
            Letter.</li>
        <li>“Validity” shall mean the period during which the Borrower is entitled to make disbursement request or avail
            Drawdown as mentioned in Schedule I annexed to this Agreement.</li>

    </ol>



    <ol type="1">
        <li>
            <h4 style="page-break-before:always">TERMS OF CREDIT FACILITY</h4>
            <ol>
                <li><p>The provision of Credit Facility i.e. Early Settlement Program and/or additional Facility / Loan including Business Line
                    of Credit, availed by the Borrower from the Lender under this Agreement, is subject to Borrower having an active and
                    valid registered user account on Flipkart Platform. The eligible Borrower who is registered with Flipkart, is required to
                    sign up with Lender by providing required details and information including following Know Your Client procedure, to
                    avail the Credit Facility from the Lender.</p></li>

                <li><p>Lender provides/ extends Credit Facility to the Borrower who are found to be eligible as per the criteria and
                    assessment of the Lender. The Borrower in addition to Early Settlement Program may avail any additional facility such
                    as Business Line of Credit, as sanctioned by the Lender for business requirements. By availing Credit Facility from the
                    Lender, the eligible Borrower(s) entitled to receive settlement early on Flipkart Platform or disbursement of loan in its
                    Designated Bank Account for fulfilling its business requirements and repay such Facility / Loan to the Lender within a
                    specified time period and in a manner, as per the terms and conditions set out herein</p></li>

                <li><p>Notwithstanding anything contained to the contrary in this Agreement, Borrower unconditionally agree, undertakes and
                    acknowledges that the Lender shall have an unconditional right to cancel and, or review the Credit Facility granted
                    under this Agreement.</p></li>

            </ol>
        </li>

        <li> <h4>TERMS OF DISBURSEMENT OF CREDIT FACILITY</h4>
            <ol>
                <li><p>Subject to the terms and conditions of this Agreement and General Terms and Conditions, the Lender hereby agrees
                    to disburse, and the Borrower hereby agrees to avail from the Lender, the Credit Facility specified in the Sanction
                    Letter on the terms and conditions of this Agreement. In addition to the said General Terms and conditions, specific
                    terms as contained in the respective Schedule(s) shall apply with respect to the Credit Facilities sanctioned by the
                    Lender to the Borrower.</p></li>

                <li><p>Subject to Borrower’s compliance of the terms of the Agreement, Lender agrees to provide Credit Facility to the
                    Borrower (at its sole discretion), from time to time, for the amount upto the Approved Credit Limit which shall include
                    the total amount payable by the Borrower to the Seller for the Credit Facility availed by the Borrower from the Lender,
                    At no point in time, shall the aggregate of the Credit Facility disbursed to the Borrower under the Credit Facility exceed
                    the Approved Credit Limit or in aggregate the overall limit as specified in the Sanction Letter. Lender may in its sole
                    discretion, either increase or decrease (as the case may be), the Approved Credit Limit basis its own assessment
                    /review at tis sole discretion and communicate the same to the Borrower on the Platform. The Lender shall have the
                    right to revise / vary the limits, interest rate, etc. from time to time, and upon revision by the Lender of such limits, such
                    revised limits shall be notified by the Lender to the Borrower and the revised limits shall be deemed to be the limits
                    covered under this Agreement. By continued availing of the Credit Facility/ loan, the Borrower confirm and
                    acknowledge acceptance to the increase or decrease the Approved Credit Limit.</p></li>

                <li><p>The provision of the Facilities is at the total discretion of the Lender and any request for extension / enhancement /
                    renewal of the Facilities and any disbursements thereunder will be is at the discretion of the Lender and on fulfilment of
                    terms and conditions as prescribed by the Lender.</p></li>


                <li><p>Under Early Settlement (ES) Facility, the Facility Amount will be disbursed to the Seller by Lender based on the
                    Payable Data received from the Flipkart Platform or, the facility amount may be disbursed directly to the account of the
                    Borrower as per the disbursement request received from the Borrower by the Lender at its sole and absolute
                    discretion, in case of any other Facility. Each such disbursement /drawdown will be communicated to the Borrower by
                    the Lende</p></li>

                <li><p>The Borrower shall make a disbursement request within the Validity Period (Disbursement Request) as mentioned in
                    the Sanction Letter. The Disbursement Request should clearly indicate the amount requested and proposed utilisation
                    of such amount. If there are any sums due and payable by the Borrower to the Lender, whether under this Agreement,
                    or any other Financing Documents or otherwise, then the Lender may, in its sole discretion, reduce undisbursed
                    amount of the Facility and, or, adjust such monies against the Facility and all such adjustments shall be treated as
                    Disbursements to and, or, repayment by the Borrower.</p></li>

                <li><p>Upon acceptance of the Sanction Letter, and execution of this Agreement, the Borrower shall not be entitled to cancel
                    or revoke the Facility, unless permitted by the Lender with written consent. If the Lender permits the Borrower to cancel
                    or revoke the Facility with written consent, the Borrower unconditionally and irrevocably agrees to pay cancellation and
                    or revocation charges to the Lender as specified under Schedule of Charges mentioned in the Sanction Letter.
                    Notwithstanding anything contained to the contrary in this Agreement or elsewhere, the Borrower unconditionally
                    agrees, undertakes and acknowledges that the Lender shall have an unconditional right to cancel and, or, review the
                    Credit Facility granted under this Agreement, either fully or partially without giving any prior notice to the Borrower, on
                    the occurrence of any of these events: (i) upon occurrence of an Event of Default; (ii) upon occurrence of a Potential
                    Event of Default; (iii) upon occurrence of a Material Adverse Effect; (iv) in case the Credit Facility is not utilized for the
                    Purpose specified herein; or (v) in case it becomes unlawful in any applicable jurisdiction for the Lender to perform any
                    of its obligations as contemplated by this Agreement or to fund or maintain or continue the Facility. In addition to
                    reasons mentioned herein, the Lender may cancel the Facility without giving any reason by sending a cancelation
                    notice.</p></li>


            </ol>
        </li>





        <li> <h4>SERVICE /PROCESSING FEES</h4>
            <ol>
                <li><p>The Borrower is liable to pay to the Lender non-refundable Service Fees (as applicable) for the respective Credit
                    Facility, as set out in the Sanction Letter and the Schedule I annexed to this Agreement. The Borrower authorizes the
                    Lender to deduct the Service Fees (if applicable) together with all applicable taxes from the Facility amount and
                    disburse to the Borrower only the balance Facility amount after deduction of the Service Fees, costs, expenses, and,
                    or, charges. Notwithstanding such deduction of the Service Fees, the obligation of the Borrower to repay to the Lender
                    shall be of the entire Outstanding Obligations together with applicable tax es in accordance with the terms of this
                    Agreement.</p></li>

                <li><p>The Borrower shall pay charges for certain events and, or, services to the Lender as per the Schedule of Charges
                    mentioned in the Sanction Letter. The Borrower agrees that the Schedule of Charges may be revised by the Lender,
                    from time to time, at its sole discretion and the latest Schedule of Charges shall be available at the Lender’s website.
                    The Borrower undertakes to pay fee/ charges as per the latest applicable Schedule of Charges published by the
                    Lende</p></li>
            </ol>

        </li>






        <li> <h4>CONDITIONS PRECEDENT TO DISBURSEMENT OF CREDIT FACILITY /LOAN(S)</h4>
            <p>
                In addition to the conditions mentioned under Clause 6 of General Terms and Conditions, the Borrower shall comply
                with the following conditions stipulated by the Lender to provide Credit Facility to the Borrower:
            </p>
            <ol>
                <li>
                    Borrower shall have completed the onboarding process and activated Credit Facility on the Flipkart Platform;
                </li>

                <li>
                    Borrower shall have given consent to Lender to run and generate reports from all the bureaus third parties;
                </li>

                <li>
                    Borrower shall have complied with the disbursement conditions stipulated in the Sanction Letter for respective Credit
                    Facility and shall have completed the appropriate credit facility documentation including issuance of e-NACH in favour
                    of the Lender and other process requirements as per the internal policies of the Lender and applicable Reserve Bank
                    of India regulations;
                </li>

                <li>
                    Loan Amount / Credit Facility being sought by Borrower is well within Approved Credit Limit as sanctioned by the
                    Lender;
                </li>

                <li>
                    The Borrower shall have satisfied the Lender that no Event of Default shall have happened or be continuing, which in
                    the opinion of the Lender, would result in material adverse effect;</li>


                <li>
                    no-extraordinary or other circumstances have occurred which shall make it improbable for the Borrower to fulfil its
                    obligations under these terms;</li>

                <li>
                    additional terms may be communicated to the Borrower by Lender or displayed on the Udaan Capital Platform, from
                    time to time;</li>

            </ol>
        </li>






        <li> <h4>INTEREST AND REPAYMENT OF CREDIT FACILITY</h4>
            <p>
                The Borrower covenants with the Lender to pay interest on the Credit Facility/ies or such sum as may be due by the
                Borrower to the Lender from time to time at the rate and periodicity for respective Credit Facility, as mentioned in the
                Schedule I annexed to this Agreement hereto until the entire outstanding loan and interest thereon is repaid by the
                Borrower
            </p>
            <ol>
                <li>
                    The ‘Credit Period’ shall be only applicable for Early Settlement Program, is Interest free period given to the Borrower
                    by Lender as may be determined by Lender in its sole discretion. The Credit Period and the outstanding Loan Amount
                    which are required to be paid by the Borrower on or before the Payment Due Date will be communicated to Borrower
                    by Lender.</li>

                <li>
                    The Borrower shall liable to pay to the Lender an interest on the amount due under the respective Credit Facility (as
                    applicable) at the Applicable Rate of Interest as stipulated in the Sanction Letter. The interest rate is subject to
                    variation in consonance with RBI directions, statutory and regulatory requirements, internal policy of the Lender.</li>

                <li>
                    The Borrower shall reimburse all sums paid and/or expenses/duties/levies incurred by the Lender in relation to the
                    Credit Facility immediately. All such sums shall carry interest from the date of payment by the Lender, till such
                    reimbursement at the Applicable Rate of Interest and the Borrower hereby authorizes the Lender to debit its account or
                    recover such charges, together with interest. The Borrower shall be required to make the payment of the Credit Facility
                    amount, alongwith other charges, as agreed under Schedule I annexed hereto, on or before the Payment Due Date or
                    end of credit period or as per the Installment Date, (as applicable) for respective Credit Facility. The Penal/Default
                    Interest shall be subject to applicable taxes.
                </li>

                <li>
                    The delayed payment charges chargeable on the respective Credit Facility shall be as per Schedule I annexed to this
                    Agreement. This amount may be charged from the Payment Due Date / Installment Date or date of completion of the
                    Credit Period (as applicable) for respective Credit Facility and calculated until the date of repayment of the Credit
                    Facility and other ancillary charges by Borrower, as per the terms of Sanction Letter and the Schedules annexed to this
                    Agreement. If any interest remains unpaid on the Payment Due Date or Instalment Date, then the unpaid interest shall
                    be compounded monthly (as applicable) for the respective facility.
                </li>

                <li>
                    This Agreement shall be effective from the date of availing of Credit Facility by the Borrower under this Credit Facility
                    Agreement till such time, the entire outstanding dues have been fully repaid by the Borrower to the Lender or on the
                    expiry of this Agreement (“Tenor”), as defined in the Schedule I annexed to this Agreement, for respective Credit
                    Facility. Lender reserves this right in its sole discretion to extend the Tenor of this Agreement. The decision of Lender
                    in this regard shall be binding on the Borrower.</li>


                <li>
                    The Lender may at its sole discretion debit the Borrower’s designated Bank Account basis e-NACH, NACH or emandate issued by the Borrower in favour of Lender towards repayment of the Total Amount Due in respect of Credit
                    Facility availed by the Borrower.</li>

                <li>
                    The Borrower authorises the Lender to instruct the Flipkart Platform to appropriate to the Lender, the monies collected
                    by Flipkart Platform from the borrower out of the sale proceeds of Borrower’s Order(s), in the Escrow Account
                    maintained by the Lender, towards settlement of the Total Amount Due or any other charges payable by the Borrower
                    to the Lender under ES Program and also for Business Line of Credit, in the event Lender is unable to encash the eNach, NACH or e-mandate due to lack of funds in the Borrower’s account on the due date. The Borrower
                    acknowledges and understands that there will be no separate authorization required by Lender to instruct the Flipkart
                    Platform to transfer monies collected by it to Lender.5.9 Without prejudice to any other right of Lender under this
                    Agreement, if the Borrower fails to pay Total Amount Due or any other outstanding amount on its Due Date (“Overdue
                    Amount”), late payment charges shall accrue on the Overdue Amount from the Due Date up to the date of actual
                    payment with penal charges (“Penal/Default Interest”) at the Penal/Default Interest rate which is set out under the
                    Schedule I annexed hereto. The Penal/ Default Interest shall be immediately payable by the Borrower on demand by
                    Lender and the Lender shall be entitled to capitalize and add such amount of Penal Default Interest to the principal
                    amount due.</li>

            </ol>
        </li>





        <li> <h4>REPRESENTATION, WARRANTIES AND COVENANT</h4>
            <p>
                The Borrower represents and warrants, on its own behalf, the matters set out in the Clause 4 of the General Terms and
                Conditions
            </p></li>





        <li> <h4>REMEDIES AVAILABLE UNDER EVENT OF DEFAULT</h4>
            <p>
                In addition to the rights conferred to the Lender in the event of default, as mentioned in Clause 8 of the General Terms
                and Conditions, the Lender shall be entitled to enforce its rights as under, in the event: (i) the Borrower fails to meet the
                repayment obligations through utilisation of sales proceeds /receivables deposited in the Escrow Account under Early
                Settlement Program, Lender is entitled to recover the Total Amount Due through E-NACH, NACH or any debit mandate
                issued by the Borrower in favour of Lender; (ii) the Borrower fails to repay the amount due or clear any instalment on
                Instalment date under Business Line of Credit availed by the Borrower, the Lender is entitled to recover the amount
                due i.e. Outstanding Obligations by way of utilisation of sales proceeds / receivables lying in to Escrow Account basis
                the Authorization letter issued by the Borrower in favour of the Lender.
            </p></li>






        <li> <h4>ESCROW MECHANISM</h4>
            <ol>
                <li>
                    The Borrower authorises the Lender to open Escrow Account and operate and maintain the same during the entire
                    tenure of the facility with the Escrow Bank, in accordance with the provisions of the Escrow Agreement. The Borrower
                    shall bear all the costs, expenses, charges in connection with such Escrow Account.
                </li>
                <li>
                    The Borrower hereby authorises the Lender to operate the Escrow Account, as specified under the Authorisation Letter
                    issued by the Borrower in favour of the Lender, annexed hereto as “Schedule III”. Accordingly, the Lender will direct
                    the Escrow Bank to act as per its instructions to operate the escrow account wherein monies received from sales
                    proceeds of the Borrower will be pooled in / transferred towards the re-payment of Credit Facility particularly under
                    Early Settlement Program, in favor of Lender (as per the Credit Facility Agreement between the Borrower and the
                    Lender). Further, such amount from the Escrow Account may be utilized to meet the Total Amount Due to the Lender,
                    in the event or failure to honour e-NACH by the Borrower or any other event of default by the Borrower under Business
                    Line of Credit.
                </li>
                <li>
                    The Borrower authorises the lender to receive, whether at present or in the future, instalments, Outstanding Obligations
                    in respect of facility availed by the Borrower from the Lender, as per the terms and conditions mentioned in the
                    Agreement. The Borrower agrees and understands that the Lender shall have right to mark lien on the sale proceeds of
                    the Borrower pooled in / transferred in the Escrow Account, until the Outstanding Obligations of the Borrower has been
                    fully discharged, with respect to the Credit Facility availed from the Lender.
                </li>
            </ol>
        </li>






        <li> <h4>FAILED DELIVERY AND RETURN OF ORDER(S)</h4>
            <p>
                Under Early Settlement Program, the fulfilment of the Order placed with the Borrower shall be governed by the
                Platform Agreement. The Borrower permits the Lender to take requisite details from Platform pertaining to the
                Borrower’s Order(s) which have been returned to the Borrower. The Borrower hereby agree that in case of any return
                of Order(s) to the Borrower which has been approved by Flipkart Platform and sale proceeds / receivables from
                Flipkart platform is not sufficient to repay the loan, then the same will be adjusted or recovered from future
                disbursement of the Borrower. In the event Lender is unable to recover any such amount from future disbursements,
                the Lender shall take appropriate legal action under applicable law for recovering their dues.
            </p>
        </li>







        <li> <h4>GUARANTEE</h4>
            <p>
                The Borrower hereby agrees and undertakes to procure guarantee by executing Guarantee Deed by each Guarantor in
                such form and manner as may be required by the Lender.
            </p></li>







        <li> <h4>TERM AND TERMINATION</h4>
            <p>
                This Agreement shall become binding on the Borrower and the Lender on and from the Effective Date hereof. It shall
                be in full force till all the Outstanding Obligations and other amounts due under any other agreements, documents
                which may be subsisting/ executed between the Borrower and the Lender have been fully paid to the satisfaction of the
                Lender and same shall be in accordance with the Clause 13 of General Terms and Conditions.
            </p></li>







        <li> <h4>NOTICES</h4>
            <p>
                Any notices or communications required to be given or served by one Party on the other in respect of this Agreement,
                shall be in the form and manner as mentioned in the Clause 18 of the General Terms and Conditions.
            </p></li>







        <li> <h4>GENERAL TERMS AND CONDITIONS</h4>

            <ol>
                <li>
                    The Borrower hereby agreed and confirm that Borrower have carefully read and understood the General Terms and
                    Conditions and Privacy Policy that are displayed on the website of the Lender at https://protium.co.in.
                </li>

                <li>
                    The Borrower agrees and accept the General Terms and Conditions may be amended or modified by the Lender at
                    any time and will be bound by the amended Terms & Conditions that are in force.
                </li>

                <li>
                    The General Terms and Conditions in incorporated in this Agreement by reference, the General Terms and Conditions
                    forms an integral part of this Agreement.
                </li>
                <li>
                    The Borrower has a downloadable and printable permission for the General Terms and Conditions which are available
                    on the website of the Lender.
                </li>

            </ol>
        </li>








        <li> <h4>ACKNOWLEDGEMENT</h4>
            <p>
                The Borrower hereby acknowledges that it has understood all the terms and conditions as stipulated in this Agreement
                and in the General Terms and Conditions.
            </p>
        </li>







        <li> <h4>GOVERNING LAW AND JURISDICTION</h4>

            <p>
                The provisions pertaining to the Governing Law and Jurisdiction shall be construed in accordance with Clause 23 of the
                General Terms and Conditions.
            </p>
        </li>








        <li> <h4>DISPUTE RESOLUTION</h4>
            <p>
                Without prejudice to the rights of the Lender under any Applicable Laws, any disputes, differences and or claims under
                this Agreement shall be in accordance with Clause 24 of the General Terms and Conditions
            </p></li>
    </ol>







</div>



<div id="schedule 1" style="page-break-before:always">

    <p style="width: 100%;font-weight:bold ; color:black;text-align: left;padding:0.5rem 0rem">LOAN DETAILS</p>


    <table>


        <thead>
        <th style="text-align:left;">
            BORROWER DETAILS :
        </th>
        <th>

        </th>
        </thead>

        <tbody>
        <tr>
            <td>Name</td>
            <td th:text = " ${schedule.scheduleName}"></td>
        </tr>

        <tr>
            <td>Address</td>
            <td th:text = " ${schedule.scheduleAddress}"></td>
        </tr>

        <tr>
            <td>Type of Business</td>
            <td th:text = " ${schedule.scheduleTypeOfBusiness}"></td>
        </tr>

        <tr>
            <td>Phone Number</td>
            <td th:text = " ${schedule.schedulePhoneNumber}"></td>
        </tr>

        <tr>
            <td>Authorised Signatory details</td>
            <td>suraj agrawal</td>
        </tr>

        <tr>
            <td>Email ID</td>
            <td th:text = " ${schedule.scheduleEmail}"></td>
        </tr>

        <tr>
            <td>Purpose</td>
            <td th:text = " ${schedule.schedulePurpose}">Business Requirement</td>
        </tr>

        <tr>
            <td>Type of Facility</td>
            <td th:text = " ${schedule.scheduleTypeofFacility}">Credit Facility (Early Settlement Program)</td>
        </tr>

        <tr>
            <td>Approved Credit Limit</td>
            <td th:text = " ${schedule.scheduleApprovedCreditLimit}">213997 /- as per Sanction Letter</td>
        </tr>

        <tr>
            <td>Default Interest</td>
            <td>0.07% Flat Rate (calculated on day-to-day basis on the
                Principal overdue amount)</td>
        </tr>

        <tr>
            <td>Tenor</td>
            <td th:text = " ${schedule.scheduleTenor}">Not exceeding 36 months from the date of activation of the
                Credit Facility</td>
        </tr>


        <tr>
            <td>Validity</td>
            <td>12 Months from the date of activation of the Credit Facility</td>
        </tr>


        <tr>
            <td>Credit Period</td>
            <td>10-20 days (Depending on Flipkart tier)</td>
        </tr>

        <tr>
            <td>Payment Due Date / Installment Date</td>
            <td>End of credit period + 2 Days of Grace period</td>
        </tr>

        <tr>
            <td>Mode of repayment</td>
            <td>Escrow and/or e-NACH/ NACH/ ECS Mandate</td>
        </tr>

        <tr>
            <td>Promotional Offer if any</td>
            <td>Yes/No (if yes -Service Fees waived for promotional period)</td>
        </tr>


        <tr>
            <td>Service Fees</td>
            <td>0.05 % Per Day on Amount Early Settled</td>
        </tr>


        <tr>
            <td>Insurance Premium if any</td>
            <td>NA</td>
        </tr>

        <tr>
            <td>Application ID</td>
            <td th:text = " ${schedule.scheduleApplicationID}">PRM20346166O</td>
        </tr>

        <tr>
            <td>Date of Execution</td>
            <td>2022-09-04</td>
        </tr>

        <tr>
            <td>Place of Execution</td>
            <td>New Delhi, Delhi</td>
        </tr>
        </tbody>


    </table>


</div>


<div id="schedule 2" style="page-break-before:always">

    <p style="width: 100%;font-weight:bold ; color:black;text-align: center;padding:0.5rem 0rem">Schedule II</p>

    <br/>

    <p style="width: 100%;font-weight:bold ; color:black;text-align: left;padding:0.5rem 0rem">LOAN DETAILS</p>


    <table>


        <thead>
        <th style="text-align:left;">
            BORROWER DETAILS :
        </th>
        <th>

        </th>
        </thead>

        <tbody>
        <tr>
            <td>Name</td>
            <td th:text = " ${schedule.scheduleName}">NA</td>
        </tr>

        <tr>
            <td>Address</td>
            <td th:text = " ${schedule.scheduleAddress}">XYZ</td>
        </tr>

        <tr>
            <td>Type of Business</td>
            <td th:text = " ${schedule.scheduleTypeOfBusiness}">E Commerce Seller/Merchant</td>
        </tr>

        <tr>
            <td>Phone Number</td>
            <td th:text = " ${schedule.schedulePhoneNumber}">9886856586</td>
        </tr>

        <tr>
            <td>Authorised Signatory details</td>
            <td >suraj agrawal</td>
        </tr>

        <tr>
            <td>Email ID</td>
            <td th:text = " ${schedule.scheduleEmail}">sachin.zaveri@hotmail.com</td>
        </tr>

        <tr>
            <td>Purpose</td>
            <td th:text = " ${schedule.schedulePurpose}">Business Requirement</td>
        </tr>

        <tr>
            <td>Type of Facility</td>
            <td th:text = " ${schedule.scheduleName}">Credit Facility (Early Settlement Program)</td>
        </tr>

        <tr>
            <td>Approved Credit Limit</td>
            <td th:text = " ${schedule.scheduleApprovedCreditLimit}">213997 /- as per Sanction Letter</td>
        </tr>

        <tr>
            <td>Default Interest</td>
            <td>0.07% Flat Rate (calculated on day-to-day basis on the
                Principal overdue amount)</td>
        </tr>

        <tr>
            <td>Tenor</td>
            <td th:text = " ${schedule.scheduleTenor}">Not exceeding 36 months from the date of activation of the
                Credit Facility</td>
        </tr>


        <tr>
            <td>Validity</td>
            <td>12 Months from the date of activation of the Credit Facility</td>
        </tr>


        <tr>
            <td>Payment Due Date / Instalment Date</td>
            <td>2nd of every month</td>
        </tr>

        <tr>
            <td>Mode of repayment</td>
            <td>Escrow and/or e-NACH/ NACH /ECS Mandate</td>
        </tr>

        <tr>
            <td>Insurance Premium if any</td>
            <td>NA</td>
        </tr>

        <tr>
            <td>Application ID</td>
            <td th:text = " ${schedule.scheduleApplicationID}">PRM20346166O</td>
        </tr>


        <tr>
            <td>Date of Execution</td>
            <td>2022-09-04</td>
        </tr>

        <tr>
            <td>Place of Execution</td>
            <td>New Delhi, Delhi</td>
        </tr>


        </tbody>


    </table>


</div>


<div id="schedule 3" style="page-break-before:always">
    <p style="width: 100%;font-weight:bold ; color:black;text-align: center;padding:0.5rem 0rem">Schedule III</p>

    <p>
        To,
        <br/>
        Growth Source Financial Technologies Private Limited
        <br/>
        Add: Nirlon Knowledge Park (NKP), B6, 2nd Floor, Pahadi Village
        <br/>
        Off Western Express Highway,
        <br/>
        Cama Industrial Estate, Goregaon (East)
        <br/>
        Mumbai 400 063, Maharashtra.
        <br/>
    </p>

    <p>
        Dear Sir,<br/>
        [I/We], suraj agrawal, hereby unconditionally and irrevocably declare and confirm that:
        <br/>
        This is with reference to the application for a lending facility (“Credit Facility”) made to a Growth Source Financial Technologies
        Private Limited (“Lender/Protium”).
        <br/>
        Pursuant to [my/our] application for the Credit Facility, [I/We] make this declaration for the benefit and reliance of the Lender.

    </p>
    <p>
        In order to facilitate payments pursuant to facilitating of the Credit Facility by Lender, NA and Yes Bank (Escrow Bank) have
        entered into an Escrow Agreement whereby Lender shall open an Escrow account with the Escrow Bank and will direct the
        Escrow Bank to act as per its instructions to operate Escrow Account wherein monies received from my/ our sales proceeds will
        be pooled in / transferred and for payment of applicable loan repayment in favor of Lender (as per the Credit Facility [Agreement]
        executed between Lender and Borrower).
    </p>

    <p>
        [I/We] authorises the Lender to receive, whether at present or in the future, instalments, outstanding Balance in respect of Credit
        Facility availed by me/us from the Lender, as per the terms and conditions mentioned in the Credit Facility Agreement. [I/We]
        agrees and understands that the Lender shall have right to mark lien on our sale proceeds, pooled in / transferred in the Escrow
        Account against the Credit Facility availed by me/us from the Lender.
    </p>

    <p>
        [I/We] hereby confirm, acknowledge, and agree that the Lender shall not be held liable in any manner whatsoever as a result of
        performance of its obligations under or pursuant to this letter of authorization given by me/us or under the Escrow Agreement.
    </p>

    <br/>
    <br/>
    <br/>
    <br/>

    <p>
        Yours Sincerely
        <br/>
        Signed and delivered for and on behalf of NA
        <br/>
        Within named
        <br/>
        suraj agrawal
        <br/>
        (Borrower’s Name)
        <br/>
    </p>


</div>


<div id="schedule 4" style="page-break-before:always">
    <p style="width: 100%;font-weight:bold ; color:black;text-align: center;padding:0.5rem 0rem">SANCTION LETTER</p>

    <p>
        Date: 2022-09-04
        <br/>
        suraj agrawal
        <br/>
        XYZ
        <br/>
        9886856586
        <br/>
    </p>

    <p>
        Dear Sir/Ma’am,<br/>
        Ref: Your Loan Application to Growth Source Financial Technologies Private Limited (hereinafter referred to as “Lender/
        Protium”) having ID PRM20346166O (“Loan Application”).<br/>
        Sub: Sanction of Loan/Credit Facility

    </p>
    <p>
        We refer to the Loan Application, and we are happy to inform you that your Loan Application for Facility has been
        sanctioned. This Credit Facility is being facilitated to you through Flipkart (referred to as the “Platform”). You agree to pay
        the applicable charges to the Lender, with regard to this Credit Facility. Such charges shall be as set out in the Schedule of
        Charges below or as maybe communicated to you through the Platform from time to time
    </p>

    <p>
        Below are the summary of the most important terms and conditions which shall be read along with the Credit Facility
        Agreement based on which your Credit Facility shall be governed.
    </p>
    <br/>

    <p style="width: 100%;font-weight:bold ; color:black;text-align: left;padding:0.5rem 0rem">LOAN DETAILS</p>


    <table>


        <thead>
        <th style="text-align:left;">
            BORROWER DETAILS :
        </th>
        <th>

        </th>
        </thead>

        <tbody>
        <tr>
            <td>Type of Credit Facility</td>
            <td>NA</td>
        </tr>

        <tr>
            <td>Approved Credit Limit</td>
            <td>XYZ</td>
        </tr>

        <tr>
            <td>Validity</td>
            <td>E Commerce Seller/Merchant</td>
        </tr>

        <tr>
            <td>Tenor</td>
            <td>9886856586</td>
        </tr>

        <tr>
            <td>Default Interest</td>
            <td>suraj agrawal</td>
        </tr>

        <tr>
            <td>Installment Amount</td>
            <td>sachin.zaveri@hotmail.com</td>
        </tr>

        <tr>
            <td>Service Fee</td>
            <td>Business Requirement</td>
        </tr>

        <tr>
            <td>Instalment Date/Payment Due Date</td>
            <td>Credit Facility (Early Settlement Program)</td>
        </tr>


        </tbody>


    </table>

    <p style="page-break-before:always">
        <em>
            ** Please note: Subject to change from time to time at the sole discretion of GSFTPL any changes in the rate of interest
            including any charges or terms & conditions shall be notified by GSFT through its website or written communication or any
            such medium as GSFT may consider appropriate.
        </em>
    </p>


    <ol type="a">

        <li>The terms of this Facility shall also be governed by the General Terms and Conditions (available on Protium’s
            Website : https://protium.co.in) </li>
        <li>The Credit Facility shall be utilized solely for the purpose it is being sanctioned for and not for any other purpose. </li>
        <li> You hereby unconditionally agree that the disbursement of the Credit Facility shall be construed as a deemed
            request.</li>
        <li>Nothing in this letter obligates the Lender to advance any Credit Facility to you till such time that the Facility
            Agreement and any other documentation including authorization letters (collectively referred to as “Financing
            Documents”) have been executed and the terms of such Credit Facility Agreement have been fulfilled to the
            satisfaction of the Lender. All stamp duties, levies or other charges that are required to execute such documents
            shall be borne by you. </li>
        <li>The validity of this Credit Facility shall be for the period as specified above. Lender reserves this right in its sole
            discretion to extend the duration/validity of the Credit Facility. The decision of Lender in this regard shall be
            binding and final. Such renewal or enhancement if any, may require you to submit additional documentation and
            revised terms & conditions based on the sole discretion of the Lender </li>
        <li>Lender reserves the right to reduce or increase the Sanction Limit in its sole and absolute discretion. </li>
        <li>Lender reserves the right to charge different rate of interest to different customers based on its internal policy and
            parameters </li>
        <li>This sanction shall stand revoked and cancelled without any notice, if there are material changes in your financial
            performance, any material facts concerning your ability to make payments under the Credit Facility Agreement or any
            relevant aspects of its request for Credit Facility are withheld, suppressed, concealed, or are found to be incorrect or
            untrue. </li>
        <li>This Sanction Letter will form part and parcel of the Credit Facility Agreement. In the event of any inconsistency
            or conflict between the terms and conditions of this Sanction Letter and the Credit Facility agreement, the terms
            and conditions of the Facility Agreement shall supersede and prevail. </li>
        <li>This Sanction Letter is subject to completion of all pre-disbursement conditions as required by Lender. Lender
            shall have the right to unconditionally cancel the Facility or revise or review the conditions and the same shall be
            carried out under the sole discretion of the Lender. </li>
        <li>Lender shall also reserve the right to amend any of the terms of the Sanction Letter at it’s sole discretion. Except
            to the extent disclosed to Lender, no director or a relative (as specified by RBI) of a director of a banking company (as
            specified by RBI) or a relative of a senior officer of the Lender is - the applicant(s), or a partner, managing agent,
            manager, employee, director of Lender’s concern, or of Lender’s subsidiary or Lender’s holding company, or a
            guarantor, or holds substantial interest in Lender’s concern or Lender’s subsidiary or holding company. </li>
        <li>For grievance redressal mechanism and Customer Support Team details in case of any queries, please write at
            customerservice@growthsourceft.com. </li>
        <li>For Interest rate model and gradation of risk, Fair Practice Code of the Lender, Ombudsman Policy and guiding
            note on SME/ NPA Classification, kindly refer our website https://protium.co.in. </li>

    </ol>

    <p>For Growth Source Financial Technologies Private Limited</p>

</div>


</body>



</html>