<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="page4" th:fragment = "termsCondition-F">

    <div  class="container-fluid">
<!--style="margin-top: 100px;"-->
        <div class="row terms-and-conditions-section">


            <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">

                <div class="col-xs-12 text-center">
                    <h3 class="title">Terms and Conditions :</h3>
                </div>
                <br/>

                <div class="content">

                    <ol type="1">
                        <li>I /we have signed the application form after filing in all details myself.</li>
                        <li>The disbursal of the loan will be at the sole discretion of the GSFT and the GSFT may at its sole discretion vary the Loan amount without intimation to the applicant of the same</li>
                        <li>I confirm that I/We have not been promised any free gift / discounts or any other commitment whatsoever which is not document in the Loan Agreement by GSFT or any of its authorized representative(s).</li>
                        <li>I confirm that no cash / bearer cheque has been collected from me/us</li>
                        <li>GST will be levied at the applicable rates in force on all taxable supplies.</li>
                        <li>For the purpose of and in the course of providing services, the GSFT is/may be required to engage the services of specialized and other service providers/agents. I/we confirm and agree that the GSFT may/would be required to furnish any information regarding my/our account to these service providers/agents.</li>
                        <li>I undertake that the facility will be used for the purpose it is granted by the GSFT/ declared by me at the time of availing the facility and not for
                            investment in the stock market in any form or any speculative, antisocial or any purpose not permitted by law. I understand that this requirement
                            is in line with the RBI regulations. I understand that if it is found by the GSFT at a later date that the facility granted to me is being used for any
                            other purpose for which it was granted, then the GSFT will have the right to recall the facility at any time.</li>
                    </ol>


                    <br/>
                    <h3 class="section-title">Declaration and Consent : </h3>
                    <br/>

                    <p>
                        I/ we, the Applicant(s), hereby unconditionally and irrevocably declare and confirm that: </p>

                    <br/>

                    <ol type="a">
                        <li>
                            I/We hereby declare that the aforesaid information provided by me / us and documents submitted along with the Application to GSFT are true,
                            correct and accurate and I/We have not withheld any material information. I/We further agree that any false/misleading information given by
                            me/ us, or suppression of any material fact will render my/our application liable for rejection and further action.</li>
                        <li>
                            I/We hereby declare that I/we are competent and not under any legal impediment to avail facility/ Loans from GSFT as requested and I/We
                            agree that the above statement shall form the basis of any arrangement to a loan. I/We confirm that there are no bankruptcy or winding-up
                            proceedings instituted against me/us and I/We are not undischarged bankrupt(s) (or, in the case of a company, that we have not been woundup) and that none of my/our credit facilities/loans with any financial institution has turned bad/irregular or is under default.</li>
                        <li>
                            I/we have carefully read and understood and was explained in vernacular language understood by me/us, the content of this Application. I/we
                            hereby irrevocably agree to be bound by all the terms and conditions governing the above-mentioned facility/ies.</li>

                        <li>
                            I/we have carefully read/ been explained the charges for loan/Facility. I/ we understand that Loan Processing Charges, initial money deposit
                            or any charges collected for processing the application paid by me/us is not refundable and will not claim or raise dispute in future for refund
                            of processing fee/ such fee, if loan is rejected for any reason. I/we agree that charges may vary depending on the transaction and will be
                            informed during the processing of application. I/we understand that charges collected may include payouts/ payments made to third party
                            vendors/ agencies associated with GSFT</li>
                        <li>
                            I/We hereby give my/our consent to be receiving information from Central KYC Registry through SMS/Email on the above registered
                            number/email address.
                        </li>
                        <li>
                            I/We have voluntarily submitted at my own volition/ discretion, the proof of possession of Aadhaar including KYC XML received from the
                            UIDAI, Quick Response (QR) code embedded in the Aadhaar card (hereinafter referred to as “KYC Information”) to GSFT for Aadhaar
                            Paperless Offline e-KYC Verification to enable processing of my/ our loan application with the GSFT
                        </li>

                        <li>
                            I/We authorise and give my consent to the GSFT and its representatives for following informed purposes:
                            <ol type="i">
                                <li>
                                    initial and periodic KYC due diligence or other authentication /verification /identification as may be permitted by the Prevention of Money
                                    Laundering Act, 2002 and the Rules thereunder, the RBI Directions and any other applicable law, for all loan proposals, accounts or services
                                    with/ through the GSFT, existing and future
                                </li>
                                <li>
                                    collecting, sharing, storing, preserving Information, maintaining records and using the Information and authentication/ verification/
                                    identification of records for the purposes mentioned at the preceding paragraph, for regulatory and legal reporting and filings and/ or
                                    wherever required under the applicable laws
                                </li>

                                <li>
                                    producing records and logs of the consent, Information or of authentication, identification, verification etc. for evidentiary purposes including
                                    before a court of law or, any authority or in arbitration.
                                </li>
                            </ol>
                        </li>

                        <li>
                            I/We have been informed by GSFT that submission of Aadhaar is not mandatory and the alternative options for KYC and establishing identity/
                            address, including by way of physical KYC with officially valid documents other than Aadhaar, were also made available by GSFT to me
                        </li>
                        <li>
                            I/We have read, understand and acknowledge and agree that GSFT may refer my/our name to a recognized credit or referencing agency/ies
                            and/or make such references and enquiries to me/us, friends, relatives, employer (past or present) business associates to verify the details as
                            GSFT may consider necessary
                        </li>

                        <li>
                            I/We understand and agree that the sanction of the loan or any other facilities shall be at the sole discretion of GSFT, which reserves its right
                            to reject this Application without assigning any reason. I/We also understand the continuation of the account is at the sole discretion of GSFT.
                        </li>
                        <li>
                            I/We certify that I/we am/are a citizen of India/ entity registered in India. I/We confirm that I am/we are not a non-resident/ non-residentcontrolled entity
                        </li>
                        <li>
                            I/We understand that as a pre-condition, relating to grant of the loans/advances/ other non-fund based credit facilities to me /us, “GSFT”
                            requires my/our consent for the disclosure by GSFT of, information and data relating to me/us, of the credit facility availed of /to be availed, by
                            me, obligations assumed/to be assumed, by me/us, in relation there to and default, if any, committed by me/us, in discharge thereof.
                        </li>

                        <li>
                            Accordingly, I/we hereby consent to GSFT, its officers, employees, advisers and agents disclosing information relating to me/us and my/ our
                            account (s) and /or dealing relationship(s) and my credit facilities with it, including but not limited to personal details, details of my/our credit
                            facilities, products, transactions, defaults (if any committed by me/us, in discharge thereof), payments history, any security taken, transactions
                            undertaken and balances and position with GSFT, to

                            <ol type="i">
                                <li>
                                    The holding company of GSFT, any of its subsidiaries or subsidiaries of its holding
                                    Company, affiliates, representative and branch offices in any jurisdiction (the
                                    “permitted Parties”).</li>
                                <li>
                                    Professional advisers, service providers or independent contractors to or agents of the Permitted parties such as debt
                                    collection agencies, data processing firms (including for this application) who are under a duty of confidentiality (whether located outside of or
                                    inside India) to the Permitted Parties.</li>

                                <li>
                                    Any actual or potential participant or sub-participant in relation to any of the GSFT’s right and/or obligations under any agreement
                                    between us, or assignee, novate or transferee(or any agent or advisor of any of the foregoing);
                                </li>
                                <li>
                                    The affiliates of the Company, Credit
                                    Bureau, Credit Rating agencies, Banks, Financial Institutions, Non-banking Financial Institutions, insurer or insurance broker of, or direct or
                                    indirect provider of credit protection to any permitted party, Data Bank or any governmental or regulatory authorities/ bodies/departments for
                                    the purpose of complying with legal and/ or regulatory requirements.
                                </li>
                                <li>
                                    Any court or tribunal or regulatory, governmental or quasigovernmental authority with jurisdictions over the Permitted Parties
                                </li>

                                <li>
                                    A merchant, card issuer or a member of a card association (for instance, visa/ master card etc.) where the disclosure is in connection with use of a card;
                                </li>
                                <li>
                                    Any dealer of a foreign exchange, authorized person or any security provider:
                                </li>
                                <li>
                                    If GSFT or RBI considers necessary in its discretion in order to provide me/us with services or otherwise
                                    as authorized by RBI.
                                </li>
                            </ol>
                        </li>


                        <li>
                            If EMI is applicable to a loan/facility, the EMI date/payments would depend upon the date of disbursement. I/we undertake that the
                            credit facility will be used for the purpose it is granted by GSFT/declared by me/us at the time of availing the credit facility and not for any
                            speculative, antisocial or any purpose not permitted by law. I/we understand that this requirement is in line with the RBI regulations. I/we
                            understand that if it is found by GSFT at a later date that the facility granted to me /us is being used for any other purpose than the purpose
                            for which it was granted, then GSFT will have the right to recall the facility at any time. I/we also agree to provide to GSFT such further
                            documents may be required from time to time to comply with the right to recall the facility at any time. I/we also agree to provide to GSFT such
                            further documents as may be requirements of the Reserve Bank of India and GSFT.
                        </li>
                        <li>
                            I/We authorize the GSFT, its group companies, agents/ representatives providing me information on various products, offers and services
                            provided by them through any mode (telephone calls/ SMS/ electronic messages, emails etc.) and to inform me/us of(c)
                            <ol type="a">
                                <li>
                                    changes or additions to the products, this agreement or the Fee Schedule,
                                </li>
                                <li>
                                    violations of this Agreement, or
                                </li>
                                <li>
                                    for marketing and other matter related to the Products or other purposes. Nothing in this provision shall require or obligate GSFT to send any notice if no notice is required or mandated elsewhere in this Agreement
                                </li>
                            </ol>
                        </li>
                        <li>
                            Subject to applicable law, I/we agree that GSFT may, but are not obligated to, monitor or record any of my telephone conversations and chat
                            texts with GSFT for quality control purposes, for purposes of training and GSFT protection. Subject to applicable law, I/we further agree that
                            any account user or anyone else to whom GSFT authorize to use my/our account, I/ We consents to such monitoring or recording as well.
                            I/we acknowledge that GSFT does not guarantee that recordings of any particular telephone calls will be retained or are capable of being
                            retrieved
                        </li>
                        <li>
                            I/we hereby acknowledge that GSFT may contact me/us via telephone (Either by a live person, Automatic dialer, Pre-recorded Message or a
                            combination of the foregoing) to discuss the products and I/we consent to such contact. Further, I/we consent to receive such phone calls on
                            all the telephone/ mobiIe numbers provided by me/us or entered on the site.
                        </li>

                    </ol>

                    <table style="margin-top:30px;margin-bottom:50px">
                        <tr >
                            <td  style="padding:20px;">
                                <p>Communication:</p>
                                <br/>
                                <p>I Would you like to receive updates about various offers and promotion from time to time from any/ all of the
                                    companies / associates / subsidiaries / affiliates thereof. Yes</p>
                                <br/>
                                <p>I understand that I will continue to receive all updated features and benefits available on my existing product,
                                    account statements, service and operational alerts and other communication including, but not limited to,
                                    communication / contact relating to any outstanding/ due or other aspects critical to my Account.</p>
                            </td>
                        </tr>
                    </table>

                    <p th:text="'For and on behalf of ' + ${businessDetails.applicantName}" style="margin-bottom:50px;font-weight: bold;"></p>

                </div>

            </div>


        </div>
        <br/>

    </div>
</div>
</body>
</html>